---
hocs-generic-service:
  version: {{ .Values.versions.hocs_search }}

  autoscale:
    enabled: true

  deployment:
    annotations:
      downscaler/downtime: 'Mon-Sun 00:00-04:50 Europe/London,Mon-Sun 23:05-24:00 Europe/London'

  app:
    env:
      elasticMode: 'SINGULAR'
