---
version: {{ .Values.versions.hocs_outbound_proxy }}

autoscale:
  enabled: true

deployment:
  annotations:
    downscaler/downtime: "Mon-Sun 00:00-04:45 Europe/London,Mon-Sun 23:10-24:00 Europe/London"
