---
hocs-generic-service:
  version: {{ .Values.versions.hocs_management_ui }}

  ingress:
    external:
      allowedIps: {{ env "ALLOWED_IPS" }}

{{- if contains .Environment.Name "wcs-" }}
  clusterPrefix: wcs

  keycloak:
    realm: https://sso.digital.homeoffice.gov.uk/auth/realms/HOCS
    domain: wcs.homeoffice.gov.uk
{{- end }}
