---
hocs-generic-service:

  app:
    env:
      queues:
        - 'audit'
        - 'case-creator'
        - 'case-migrator'
        - 'document'
        - 'notify'
        - 'opensearch'
        - 'search'
